{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="right-div">
                <a class="btn btn-success" href="{% url 'profile:create_user' %}"> <i
                        class="fa fa-plus "></i>Добавить</a>
            </div>
        </div>
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Список пользователей
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="lesson_info_table">

                            <thead>

                            <tr>
                                <th class="text-center">№</th>
                                <th class="text-center">Логин</th>
                                <th class="text-center">ФИО</th>
                                <th class="text-center">Роль</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for profile in profile_list %}
                                <tr class="odd gradeX">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ profile.user.username }}</td>
                                    <td>{% if profile.last_name  %}{{ profile.last_name }}{% endif %} {% if profile.first_name %}{{ profile.first_name }}{% endif %} {% if profile.otchestvo %}{{ profile.otchestvo }}{% endif %}</td>
                                    <td>{{ profile.get_level_display }}</td>

                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
            <!--End Advanced Tables -->
        </div>

    </div>




{% endblock %}