{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading text-center">
                    Добавить пользователя
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="group_name">Наименование группы</label>
                        <input id="group_name" class="form-control" type="text" value=""/>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="students">Список студентов</label>
                                <select multiple id="students" class="form-control" size="15">
                                    {% for student in student_list %}
                                        {% if not student.studentgroup_set.count %}
                                            <option value="{{ student.id }}">{% if student.first_name %}{{ student.first_name }}{% endif %} {% if student.last_name %}{{ student.last_name }}{% endif %} {% if student.otchestvo %}{{ student.otchestvo }}{% endif %}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                        <div class="col-md-2">
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <button id="moveright" class="btn btn-info" style="margin-top: 5px; width: 100%">
                                        ->
                                    </button>
                                </div>

                                <div class="col-md-12">
                                    <button id="moveleft" class="btn btn-info" style="margin-top: 5px; width: 100%"> <-</button>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="studentgroup" >Список группы</label>
                                <select multiple id="studentgroup" class="form-control" size="15">
                                </select>
                            </div>

                        </div>
                    </div>
                    <button id="create_btn" class="btn btn-info" onclick="create_group()"
                            data-url="{% url 'api_v1:create_group' %}">Добавить
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#moveright").click(function () {
            $("#students > option:selected").each(function () {
                $(this).remove().appendTo("#studentgroup");
            });
        });
        $("#moveleft").click(function () {
            $("#studentgroup > option:selected").each(function () {
                $(this).remove().appendTo("#students");
            });
        });

        function create_group() {

            let formData = new FormData();
            formData.append('group_name', document.getElementById("group_name").value);

            for (i = 0; i < $("#studentgroup option").length; i++) {
                {#alert($("#studentgroup option")[i].value)#}
                formData.append('students', $("#studentgroup option")[i].value);
            }
            var url = $("#create_btn").data("url");

            $.ajax({
                headers: {"X-CSRFToken": "{{csrf_token}}"},
                url: url,
                processData: false,
                contentType: false,
                method: 'POST',
                data: formData,
                success: function (data) {
                    alert('успех!');
                },
                error: function (data) {
                    alert('Ошибка');
                }
            });
        }
    </script>

{% endblock %}