{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <!-- Calendar  -->
    <link href='{% static 'js/fullcalendar-5.3.2/lib/main.css' %}' rel='stylesheet'/>
    <script src='{% static 'js/fullcalendar-5.3.2/lib/main.js' %}'></script>

    <!-- jquery-ui  -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>zoom edu</title>
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
    <!-- FONT AWESOME STYLE  -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"/>
    <!-- CUSTOM STYLE  -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <!-- GOOGLE FONT -->
    <link href="{% static 'js/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
</head>
<body>
<div class="navbar navbar-inverse set-radius-zero">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


        </div>
        <div class="row">


            <div class="pull-right right-div">
                <h4> username: {{ request.user.username }} </h4>
                <a href="{% url 'logout' %}" class="btn btn-danger">Выход</a>
            </div>

        </div>


    </div>
</div>
<!-- LOGO HEADER END-->
<section class="menu-section">

    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    <ul id="menu-top" class="nav navbar-nav navbar-left">
                        <li><a id="nav-stream" href="/" class="">Главная</a></li>
                    </ul>
                    <ul id="menu-top" class="nav navbar-nav navbar-right">

                        <li><a id="nav-stream" href="{% url "calendar:list" %}" class="">Расписание</a></li>
                        <li><a id="nav-subs" href="{% url "lesson:time" %}">Время занятий</a></li>
                        {% if request.user.profile.level == "Training_division" %}
                        <li><a id="nav-mystreams" href="{% url "profile:list" %}">пользователи</a></li>
                        {% endif %}
                        <li><a id="nav-create" href="{% url 'lesson:info' %}">Дисциплины</a></li>

                        {% if request.user.profile.level == "Student" %}
                        <li><a id="nav-create" href="{% url 'profile:group_list' %}">Моя группа</a></li>
                        {% endif %}



                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- MENU SECTION END-->
<div class="content-wrapper">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</div>
<!-- CONTENT-WRAPPER SECTION END-->
<section class="footer-section">
    <div class="container">
        <div class="row">


        </div>
    </div>
</section>
{#    <!-- CORE JQUERY  -->#}
{#    <script src="{% static "js/jquery-1.10.2.js" %}"></script>#}
{#    <!-- BOOTSTRAP SCRIPTS  -->#}
<script src="{% static "js/bootstrap.js" %}"></script>
{#    <!-- DATATABLE SCRIPTS  -->#}
<script src="{% static "js/dataTables/jquery.dataTables.js" %}"></script>
<script src="{% static "js/dataTables/dataTables.bootstrap.js" %}"></script>
{#      <!-- CUSTOM SCRIPTS  -->#}
<script src="{% static "js/custom.js" %}"></script>

</body>
</html>
