{% extends 'base.html' %}

{% load static %}




{% block content %}


    <div class="row">
        <div class="col-md-12">
            <div id='calendar'></div>

        </div>
    </div>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                selectable: true,
                locale: 'ru',
                dateClick: function (info) {
                    // alert('Clicked on: ' + info.dateStr);
                    dialog.dialog("open");
                    // change the day's background color just for fun
                    // info.dayEl.style.backgroundColor = 'red';
                }

            });

            calendar.batchRendering(function () {
                {#calendar.changeView('dayGridWeek');#}
                calendar.addEvent({title: 'new event', start: '2020-09-01T18:31'});
            });
            calendar.render();

            var dialog, form,

                les1 = $("#les1"),
                les2 = $("#les2"),
                les3 = $("#les3"),
                les4 = $("#les4"),
                allFields = $([]).add(les1).add(les2).add(les3).add(les4);


            function addUser() {

            }

            dialog = $("#dialog-form").dialog({
                autoOpen: false,
                height: 460,
                width: 350,
                modal: true,
                buttons: {
                    "Create an account": addUser,
                    Cancel: function () {
                        dialog.dialog("close");
                    }
                },
                close: function () {
                    form[0].reset();
                    allFields.removeClass("ui-state-error");
                }
            });

            form = dialog.find("form").on("submit", function (event) {
                event.preventDefault();
                addUser();
            });

            $("#create-user").button().on("click", function () {
                dialog.dialog("open");
            });
        });


    </script>
    <script>

    </script>

    <div id="dialog-form" title="Create new user">
        <form>
            <fieldset>
                <div class="form-group">
                    <label for="les1">Наименование группы</label>
                    <input id="les1" name="les1" class="form-control" type="text" value=""/>
                </div>
                 <div class="form-group">
                    <label for="les2">Наименование группы</label>
                    <input id="les2" name="les2" class="form-control" type="text" value=""/>
                </div>
                <div class="form-group">
                    <label for="les3">Наименование группы</label>
                    <input id="les3" name="les3" class="form-control" type="password" value=""/>
                </div>
                <div class="form-group">
                    <label for="les4">Наименование группы</label>
                    <input id="les4" name="les4" class="form-control" type="password" value=""/>
                </div>

                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">

            </fieldset>
        </form>

    </div>
{% endblock %}

