{% extends 'base.html' %}

{% load static %}




{% block content %}


    <div class="row">
        <div class="col-md-12">
            <div id='calendar'></div>

        </div>
    </div>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var url = "{% url 'api_v1:lesson_list_calendar' studentgroup.id %}";
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                selectable: true,
                locale: 'ru',
                dateClick: function (info) {
                    {#alert('Clicked on: ' + info.dateStr);#}

                    $.getJSON(url, {day: info.dateStr}, function (data, textStatus, jqXHR) {
                        {#alert('status: ' + textStatus + ', data:' + data[0].start);#}
                        for (key in data) {
                            $('#' + data[key].less_numb).val(data[key].less_info_id);
                            $('#delete_les_' + data[key].less_numb).val(data[key].id);
                        }
                    });
                    selected_date = info.dateStr
                    dialog.dialog("open");

                    // change the day's background color just for fun
                    // info.dayEl.style.backgroundColor = 'red';
                },
                eventSources: [

                    // your event source
                    {
                        url: url,
                        method: 'GET',
                        failure: function () {
                            alert(url);
                        },
                        color: 'yellow',   // a non-ajax option
                        textColor: 'black' // a non-ajax option
                    }

                    // any other sources...

                ]

            });


            calendar.render();

            var dialog, form, selected_date;


            function addUser() {

                lessons_form = document.getElementById("lessons_form").elements;
                for (i = 1; i < lessons_form.length; i++) {

                    let formData = new FormData();

                    if (document.getElementById("delete_les_" + lessons_form[i].id).value !== "") {
                        var delete_url = "/api/v1/lessons/delete/" + document.getElementById("delete_les_" + lessons_form[i].id).value
                        $.ajax({
                            headers: {"X-CSRFToken": "{{csrf_token}}"},
                            url: delete_url,
                            processData: false,
                            contentType: false,
                            method: 'DELETE',
                            success: function (data) {
                                {#alert('успех! 22');#}
                            },
                            error: function (data) {
                                {#alert('Ошибка 22');#}
                            }
                        });
                    }
                    if (lessons_form[i].value !== "") {
                        formData.append('lesson_info', lessons_form[i].value);
                        formData.append('day', selected_date);
                        formData.append('lesson_time', lessons_form[i].id);
                        formData.append('group', "{{studentgroup.id}}");
                        var url = "{% url 'api_v1:create_lesson' %}";
                        $.ajax({
                            headers: {"X-CSRFToken": "{{csrf_token}}"},
                            url: url,
                            processData: false,
                            contentType: false,
                            method: 'POST',
                            data: formData,
                            success: function (data) {

                                {#alert('успех!');#}
                            },
                            error: function (data) {
                                {#alert('Ошибка');#}
                            }
                        });
                    }
                }

                {#calendar.fullCalendar('refetch');#}
                location.reload();
            }

            dialog = $("#dialog-form").dialog({
                autoOpen: false,
                height: 460,
                width: 350,
                modal: true,
                buttons: {
                    "применить": addUser,
                    Cancel: function () {
                        dialog.dialog("close");
                    }
                },
                close: function () {
                    form[0].reset();
                }
            });

            form = dialog.find("form").on("submit", function (event) {
                event.preventDefault();
                addUser();
            });


        });


    </script>
    <script>

    </script>

    <div id="dialog-form" title="Расписание">
        <form id="lessons_form">
            <fieldset>
                {% for lesson_time in lesson_time_list %}
                    <div class="form-group">
                        <label for="{{ lesson_time.number }}">{{ lesson_time.number }} Пара </label>
                        <select class="form-control" id="{{ lesson_time.number }}">
                            <option id="delete_les_{{ lesson_time.number }}" value=""></option>
                            {% for lesson_info in lesson_info_list %}
                                <option value="{{ lesson_info.id }}">{{ lesson_info.name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                {% endfor %}


            </fieldset>
        </form>

    </div>
{% endblock %}

