{% extends 'base.html' %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="right-div">
                <a class="btn btn-success" href="{% url 'Index:group_create' %}"> <i class="fa fa-plus "></i>Добавить</a>
            </div>
        </div>
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Группы
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="lesson_info_table">

                            <thead>

                            <tr>
                                <th class="text-center">№</th>
                                <th class="text-center">Группа</th>
                                <th class="text-center">Кол-во</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for group in studentgroup_list %}
                                <tr class="odd gradeX">

                                        <td>{{ forloop.counter }}</td>
                                    <td><a href="{% url 'Index:calendar_detail' group.id %}">{{ group.group_name }}</a></td>
                                        <td>{{ group.students.count }}</td>

                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>

{% endblock %}