{% extends 'base.html' %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Дисциплины
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="lesson_info_table">

                            <thead>

                            <tr>
                                <th class="text-center">№</th>
                                <th class="text-center">Группа</th>
                                <th class="text-center">Дисциплина</th>
                                <th class="text-center">начало</th>
                                <th class="text-center">Ссылка zoom</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for lesson in lesson_list %}
                                <tr class="odd gradeX">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ lesson.group.group_name }}</td>
                                    <td>{{ lesson.lesson_info.name }}</td>
                                    <td>{{ lesson.day.isoformat }} {{ lesson.lesson_time.start.isoformat }}</td>
                                    {% if request.user.profile == lesson.lesson_info.teacher %}<td><a href="{{ lesson.zoom_join_url }}">ссылка</a></td>
                                    {% else %}<td><a href="{{ lesson.zoom_join_url }}">ссылка</a></td>{% endif %}

                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>

{% endblock %}